*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  justify-content: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #508F71;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #508F71;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #508F71;
}

#img1 {
  width: auto;
  height:350px;
  margin-left: 28vw;
  margin-top: -45px;
  float: left;
}

.all {
  color: #066035; 
  text-align: left;
  margin-left: 2vw;
  margin-top: 30vh;
  margin-right: 34%;
}

.all h1 {
  margin-top: -60px;
  margin-right: -10vw;
  font-size: 2.5rem;
}

.all p {
  font-size: 1.7rem;
  margin-right: -10vw;
}

#certainLinks p {
  position: relative;
  text-align: center;
  cursor: pointer;
  clear: both;
}

#certainLinks a {
  color: #066035;
  text-decoration: none;
}

/*The button for "login"*/
.btnLogin-popup {
  width: 250px;
  height: 30px;
  position: absolute;
  background: #066035;
  border: 1px solid #066035;
  padding-top: 0.2vh;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 200;
  margin-top: 12px;
  font-size: 20px;
  text-decoration: none;
}

/*Just changes the color of the button on hover*/
.btnLogin-popup:hover {
  background: #508F71;
  border: #508F71;
  color: black;
}

/*The login/Registration form that can pop-up*/
.logRegForm {
  position: absolute;
  margin-top: -83vh;
  margin-left: 28vw;
  width: 650px;
  height: 60vh;
  background: rgba(255, 255, 255, .5);
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  transform: scale(0);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .3s ease, height .2s ease;
}

.logRegForm.active-popup {
  transform: scale(1);
  transition: transform .18s ease;
}

.logRegForm.active {
  height: 88vh;
  margin-top: -93vh;
}

.logRegForm .form-box {
  width: 27vw;
  padding: 2vw;
}

.logRegForm .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.logRegForm.active .form-box.login {
  transition: none;
  visibility: hidden;
  transform:  translateX(-400px);
}

.logRegForm .form-box.register {
  position: absolute;
  visibility: hidden;
  transition: none;
  transform: translateX(400px);
}

.logRegForm.active .form-box.register {
  transition: transform .18s ease;
  visibility: visible;
  transform: translateX(0);
}

.logRegForm .icon-close {  
  position: absolute;
  top: 0;
  right: 90px;
  width: 45px;
  height: 45px;
  background: #066035;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  transition: none;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #066035;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #066035;
  margin: 32px 0;
}



.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #066035;
  font-weight: 500;
  pointer-events: none;
  transition: .4s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  display: none;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #066035;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #066035;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em; 
  color: #066035;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #066035;
  margin-right: 3px;
}

.remember-forgot a {
  color: #066035;
  margin-left: 5vw;
  text-decoration: none;
  text-align: right;

}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #066035;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #066035;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #066035;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}


/*The links below aka lglStuff*/

.lglStuff {
  position: absolute;
  background: rgba(255, 255, 255, .5);
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  transform: scale(0);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .3s ease, height .2s ease;
}

.lglStuff.active-link {
  transform: scale(1);
  transition: transform .18s ease;
}

.lglStuff .icon-close2 {  
  position: absolute;
  background: #066035;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: none;
  cursor: pointer;
  z-index: 1;
}

.lglContent {
  color: #066035;
  line-height: 1.6;
}

/* end */


/*SIGN*/





/*For phones*/
@media (min-width: 300px){

#img1 {
  width: auto;
  height: 106px;
  margin-left: 13vw;
  margin-top: -14.1px;
  float: left;
}

.all {
color: #066035;
  text-align: left;
  margin-left: 2vw;
  margin-top: 30vh;
  margin-right: 34%;
}

.all h1 {
  margin-top: -60px;
  margin-right: -10vw;
  font-size: 0.83rem;
}

.all p {
  font-size: 0.6rem;
  margin-right: -10vw;
}

#certainLinks  {
  font-size: 0.7em;
  position: relative;
  text-align: center;
  cursor: pointer;
  clear: both;
  margin-top: 50vh;
  color: #066035;
  text-decoration: none;
  display: inline-block;
  margin-left: -50vw;
}

#certainLinks #link1 {
  margin-top: 20px;
}

/*The button for "login"*/
.btnLogin-popup {
  width: 89px;
  height: 11px;
  position: absolute;
  background: #066035;
  border: 1px solid #066035;
  padding-top: 0.2vh;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 200;
  margin-top: 6px;
  font-size: 0.4em;
  text-decoration: none;
}

/*The login/Registration form that can pop-up*/
.logRegForm {
  position: absolute;
  margin-top: -85vh;  
  margin-left: 0;
  width: 100%;
  height: 94vh;
  background: rgba(255, 255, 255, .5);
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  transform: scale(0);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .3s ease, height .2s ease;
}

.logRegForm.active {
  height: 174vh;
  margin-top: -85vh;
}

.logRegForm .form-box {
  width: 70vw;
  padding: 0vw;
}

.logRegForm .icon-close {
  position: absolute;
  top: 0;
  right: 5vw;
  width: 45px;
  height: 45px;
  background: #066035;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: none;
  cursor: pointer;
  z-index: 1;
}

/* Links below */
.lglStuff {
  font-size: 1em;
  margin-top: -84vh;
  margin-left: 0;
  width: 100%;
  height: 75vh;
}

.lglStuff .icon-close2 {  
  top: 0;
  right: 250px;
  width: 45px;
  height: 45px;
  font-size: 2em;
}

.lglStuff .form-box {
  width: 55vw;
  padding: 0vw;
}

}





/*SIGN*/





/*For laptop ni sir*/
@media (min-width: 1000px){

#img1 {
  width: auto;
  height:350px;
  margin-left: 28vw;
  margin-top: -45px;
  float: left;
}

.all {
  color: #066035; 
  text-align: left;
  margin-left: 2vw;
  margin-top: 30vh;
  margin-right: 34%;
}

.all h1 {
  margin-top: -60px;
  margin-right: -10vw;
  font-size: 2.5rem;
}

.all p {
  font-size: 1.7rem;
  margin-right: -10vw;
}

#certainLinks  {
  position: relative;
  text-align: center;
  cursor: pointer;
  clear: both;
  margin-top: 260px; /* change to vh */
  color: #066035;
  text-decoration: none;
  display: inline-block;
  margin-left: -50vw;
}

#certainLinks #link1 {
  margin-top: 20px;
}

/*The button for "login"*/
.btnLogin-popup {
  width: 250px;
  height: 30px;
  position: absolute;
  background: #066035;
  border: 1px solid #066035;
  padding-top: 0.2vh;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 200;
  margin-top: 12px;
  font-size: 1em;
  text-decoration: none;
}

/*The login/Registration form that can pop-up*/
.logRegForm {
  position: absolute;
  margin-top: -91vh;
  margin-left: 0;
  width: 100%;
  height: 94vh;
  background: rgba(255, 255, 255, .5);
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  transform: scale(0);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .3s ease, height .2s ease;
}

.logRegForm.active {
  height: 94vh;
  margin-top: -91vh;}

.logRegForm .form-box {
  width: 38vw;
  padding: 2vw;
}

.logRegForm .icon-close {
    position: absolute;
    top: 0;
    right: 25vw;
    width: 45px;
    height: 45px;
    background: #066035;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: none;
    cursor: pointer;
    z-index: 1;
}

/*remove on @media queries for smaller screens such as phones*/
.input-half {
  float: left;
  margin: 32px 0 0 0;
  width: 45%;
}

.half {
  margin-right: 3.4vw;
  margin-bottom: 0;
}

.lower-half {
  margin-bottom: 30px;
}
/*end*/

/* Links below */
.lglStuff {
  font-size: 1em;
  margin-top: -84vh;
  margin-left: 0;
  width: 100%;
  height: 75vh;
}

.lglStuff .icon-close2 {  
  top: 0;
  right: 250px;
  width: 45px;
  height: 45px;
  font-size: 2em;
}

.lglStuff .form-box {
  width: 55vw;
  padding: 0vw;
}

}



/*SIGN*/





