*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  justify-content: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #508F71;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #508F71;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #508F71;
}

.main {
  top: 20%;
  left: 45%;
  position: absolute;
}

#img1 {
  margin-left: -245px;
  width: 17em;
  position: absolute;
}

.text {
  white-space: nowrap;
  color: #066035;
  font-size: 2.5em;
  margin-top: 8px;
  margin-left: 1em;
  display: inline-block;
  position: absolute;
  text-align: left;
}

.text2 {
  margin-left: 1.49em;
  margin-top: 4.8em;
  font-size: 1.70em;
}

.link {
  top: 660px;
  left: 0%;
  color: #066035;
  text-decoration: none;
  position: relative;
}

/*The button for "login"*/
.btnLogin-popup {
  font-size: 1.2em;
  font-weight: 200;
  width: 13.4em;
  height: 1.5em;
  margin-top: 9.9em;
  margin-left: 2.2em;
  position: absolute;
  background: #066035;
  border: 1px solid #066035;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
}

/*Just changes the color of the button on hover*/
.btnLogin-popup:hover {
  background: #508F71;
  border: #508F71;
  color: black;
}

/*The login/Registration form that can pop-up*/
.logRegForm {
  position: relative;
  margin-top: 4px;
  margin-left: 0;
  width: 44vw;
  height: 92vh;
  background: rgba(255, 255, 255, .5);
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  transform: scale(0);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .3s ease, height .2s ease;
}

.seePass {
  cursor: pointer;
}

.logRegForm.active-popup {
  transform: scale(1);
  transition: transform .18s ease;
}

.logRegForm.active {
  height: 100vh;
  margin-top: -19px;
  margin-left: 0;
}

.logRegForm .form-box {
  width: 35vw;
  padding: 2vw;
}

.logRegForm .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.logRegForm.active .form-box.login {
  transition: none;
  visibility: hidden;
  transform:  translateX(-400px);
}

.logRegForm .form-box.register {
  position: absolute;
  visibility: hidden;
  transition: none;
  transform: translateX(400px);
}

.logRegForm.active .form-box.register {
  transition: transform .18s ease;
  visibility: visible;
  transform: translateX(0);
  width: 67vw;
}

.logRegForm .icon-close {  
  position: absolute;
  display: flex;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  font-size: 2em;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  background: #066035;
  justify-content: center;
  align-items: center;
  transition: none;
  cursor: pointer;
  z-index: 1;
}

.logRegForm.active .icon-close {  
  position: absolute;
  display: flex;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  font-size: 2em;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  background: #066035;
  justify-content: center;
  align-items: center;
  transition: none;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #066035;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #066035;
  margin: 32px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #066035;
  font-weight: 500;
  pointer-events: none;
  transition: .4s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  display: none;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  color: #066035;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
  color: #066035;
}

.remember-forgot {
  font-size: 0.8em; 
  font-weight: 500;
  color: #066035;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #066035;
  margin-right: 3px;
}

.remember-forgot a {
  color: #066035;
  margin-left: 5vw;
  text-decoration: none;
  text-align: right;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #066035;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #066035;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #066035;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}





@media (min-width: 320px) {

.main {
  top: 31%;
  margin-left: -55px;
}

#img1 {
  margin-left: -73.3px;
  width: 9.3em;
}

.text {
  font-size: 1.3em;
  margin-top: 8px;
  margin-left: 3.7em;
}

.text2 {
  margin-left: 5.69em;
  margin-top: 4.8em;
  font-size: 0.85em;
}

.btnLogin-popup {
  font-size: 0.7em;
  font-weight: 200;
  width: 12.2em;
  height: 1.5em;
  margin-top: 7.7em;
  margin-left: 6.6em;
}

.link {
  top: 80vh;
  left: 0%;
  font-size: 0.7em;
}

.logRegForm {
  margin-top: 10px;
  margin-left: 0;
  width: 100vw;
  height: 85vh;
}

.logRegForm .form-box {
  width: 67vw;
  padding: 0vw;
}

.btn {
  height: 32px;
}

.logRegForm.active {
  height: 910px;
  margin-right: 0;
  margin-top: 1px;
}

.form-box h2 {
  font-size: 1.4em;
  margin-top: 29.5px;
}

.logRegForm.active .form-box h2 {
  margin-top: 0;
}

}



@media (min-width: 768px) {

.main {
  top: 31%;
  left: 44%;
  margin: -3.5em;
}

#img1 {
  margin-left: -105px;
  width: 12.7em;
}

.text {
  font-size: 1.7em;
  margin-top: 8px;
  margin-left: 3.7em;
}

.text2 {
  margin-left: 5.49em;
  margin-top: 4.8em;
  font-size: 1.15em;
}

.btnLogin-popup {
  font-size: 0.95em;
  font-weight: 200;
  width: 12.2em;
  height: 1.5em;
  margin-top: 8.3em;
  margin-left: 6.6em;
}

.link {
  top: 88vh;
  left: 0%;
  font-size: 1em;
}

.logRegForm {
  margin-top: 10px;
  width: 65vw;
  height: 517px;
  padding-top: 126px;
}

.logRegForm .form-box {
  width: 45vw;
  padding: 0vw;
}

.logRegForm.active .form-box.register {
  width: 90%;

}

.btn {
  height: 32px;
}

.logRegForm.active {
  height: 78vh;
  margin-right: 0;
  margin-top: 60.5px;
}

.form-box h2 {
  font-size: 1.4em;
  margin-top: -177px;
}

.input-half {
  float: left;
  margin: 32px 0 0 0;
  width: 45%;
}

.half {
  margin-right: 5.5vw;
  margin-bottom: 0;
}

.lower-half {
  margin-bottom: 34px;
}

}

@media (min-width: 1024px) {

.main {
  top: 31%;
  left: 43%;
  margin: -3.5em;
}

#img1 {
  margin-left: -110px;
  width: 14.7em;
}

.text {
  font-size: 2.2em;
  margin-top: 8px;
  margin-left: 3.7em;
}

.text2 {
  font-size: 1.5em;
  margin-left: 5.49em;
  margin-top: 4.9em;
}

.btnLogin-popup {
  font-size: 1.25em;
  font-weight: 200;
  width: 11.2em;
  height: 1.5em;
  margin-top: 8.3em;
  margin-left: 6.6em;
}

.link {
  top: 88vh;
  left: 0%;
  font-size: 1em;
}

.logRegForm {
  margin-top: 95px;
  width: 55vw;
  height: 517px;
  padding-top: 126px;
}

.logRegForm .form-box {
  width: 45vw;
  padding: 0vw;
}

.btn {
  height: 32px;
}

.logRegForm.active {
  height: 46rem;
  margin-right: 0;
  margin-top: 62.5px;
  padding-bottom: 10em;
  width: 63vw;
}

.form-box h2 {
  font-size: 1.4em;
  margin-top: -177px;
}

.input-half {
  float: left;
  margin: 32px 0 0 0;
  width: 45%;
}

.half {
  margin-right: 5.5vw;
  margin-bottom: 0;
}

.lower-half {
  margin-bottom: 34px;
}

}

@media (min-width: 1440px) {

.main {
  top: 20%;
  left: 39.5%;
  margin: 0;
}

#img1 {
  margin-left: -123px;
  width: 16em;
}

.text {
  font-size: 2.4em;
  margin-top: 10px;
  margin-left: 3.7em;
}

.text2 {
  font-size: 1.6em;
  margin-left: 5.59em;
  margin-top: 5em;
}

.btnLogin-popup {
  font-size: 1.25em;
  font-weight: 200;
  width: 12.5em;
  height: 1.5em;
  margin-top: 9.2em;
  margin-left: 7em;
}

.link {
  top: 90vh;
  left: 0%;
  font-size: 1.2em;
}

.logRegForm {
  font-size: 1.3em;
  margin-top: 45px;
  width: 39vw;
  height: 517px;
  padding-top: 126px;
}

.logRegForm .form-box {
  width: 28vw;
  padding: 0vw;
}

.logRegForm.active .form-box.register {
  width: 75%;
}

.btn {
  height: 32px;
}

.logRegForm.active {
  height: 652px;
  margin-right: 0;
  margin-top: 1.5px;
  padding-top: 245px;
  width: 54vw;
}

.form-box h2 {
  font-size: 1.4em;
  margin-top: -177px;
}

.input-half {
  float: left;
  margin: 32px 0 0 0;
  width: 45%;
}

.half {
  margin-right: 4vw;
  margin-bottom: 0;
}

.lower-half {
  margin-bottom: 34px;
}

}

@media (min-width: 2560px) {

.main {
    top: 26%;
    left: 43%;
    margin: 0;
}

#img1 {
  margin-left: -182px;
  width: 22.6em;
}

.text {
  font-size: 3.2em;
  margin-top: 10px;
  margin-left: 3.7em;
}

.text2 {
font-size: 2.2em;
  margin-left: 5.39em;
  margin-top: 4.9em;
}

.btnLogin-popup {
  font-size: 1.85em;
  font-weight: 200;
  width: 11.2em;
  height: 1.5em;
  margin-top: 8.7em;
  margin-left: 6.4em;
}

.link {
  top: 80vh;
  left: 0;
  font-size: 2em;
}

.logRegForm {
  font-size: 2em;
  margin-top: 7em;
  width: 34vw;
  height: 647px;
  padding-top: 131px;
}

.logRegForm .form-box {
  width: 25vw;
  padding: 0vw;
}

.btn {
  height: 32px;
}

.logRegForm.active {
  height: 1230px;
  margin-right: 0;
  margin-top: 5em;
  padding-top: 122px;
  width: 55vw;
  font-size: 2em;
}

.form-box h2 {
  font-size: 1.4em;
  margin-top: -177px;
}

.input-box {
    width: 100%;
    height: 75px; 
    margin: 58px 0;
}

.remember-forgot {
    font-size: .9em;
    margin: -34px 0 35px;
}

.half {
  margin-right: 4vw;
  margin-bottom: 0;
}

.lower-half {
  margin-bottom: 34px;
}

}


